@model mini_cstructor.WebSite.Models.ClassesModel
@{
    ViewData["Title"] = "Class List";
}

<h2>Classes</h2>
<hr />

<div class="row">
    <div class="text-weight-bold col-md-4">Name</div>
    <div class="text-weight-bold col-md-4">Description</div>
    <div class="text-weight-bold col-md-4">Price</div>
</div>
<hr />

@foreach (var classModel in Model.Classes)
{
    <div class="row">
        <div class="col-md-4">
            @classModel.ClassName
        </div>
        <div class="col-md-4">
            @classModel.ClassDescription
        </div>
        <div class="col-md-4">
            @classModel.ClassPrice.ToString("#.##")
        </div>
    </div>

    <hr />

}


